    <body>
    	
        <aside class="left"><p><%= link_to 'Home', root_path %></p><p><%= link_to 'Veganos', locals_path %></p><p><%= link_to 'Celíacos', locals_path %></p><p><%= link_to 'Vegetarianos', locals_path %></p><p><%= link_to 'Sin lactosa', locals_path %></p></aside>

        </aside>
        
    	
        <span class="searching">
            <%= form_tag locals_search_path, :method => 'post' do %>
            <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search" %>
            </p>
            <% end %>
        </span>

        <div class="info">
            <div class="restaurante1">

            <img class="lupa" src="../ic_search_black_48dp.png"> Todos los resultados encontrados...
            <hr>

        	<% @locals.each do |local| %>
            <p><%= link_to local.name, local_path(local) %><span class="direction1"> - <%= local.location %> </span><br>
            <hr>
    		<% end %>

            </div>
        </div>

        



   
    </body>













