    <body>
    	
        <span class="searching">
            <%= form_tag locals_search_path, :method => 'post' do %>
            <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search" %>
            </p>
            <% end %>
        </span>

        <div class="info">
            <span class="restaurante1">
                <img class="lupa" src="../ic_search_black_48dp.png"> Todos los resultados encontrados...
                    <hr>
                    <% primer_num = 0 %>
                    <% ultim_num = primer_num + 1 %>
                
                	<% for i in (primer_num..ultim_num) do %>
                    <%= image_tag(@locals[i].img_url, class: "enana")%>
                    <%= link_to @locals[i].name, local_path(@locals[i][:id]) %>
                    <% if @locals[i].celiacous_food == true %>
                         <img class="icono" src="celiaco.png">
                    <% end %>
                    <% if @locals[i].vegetarian_food == true %>
                         <img class="icono" src="zanahoria.png">
                    <% end %>
                    <% if @locals[i].vegan_food == true %>
                         <img class="icono" src="vegano.png">
                    <% end %>
                        
                    <hr>
                <% end %>
            </span>
            <span class="restaurante2">
                
                    <hr>
                    <% primer_num = 2 %>
                    <% ultim_num = primer_num + 1 %>
                
                    <% for i in (primer_num..ultim_num) do %>
                    
                    <%= image_tag(@locals[i].img_url, class: "enana")%>
                    <span class="nombre"><%= link_to @locals[i].name, local_path(@locals[i][:id]) %>
                    <% if @locals[i].celiacous_food == true %>
                         <img class="icono" src="celiaco.png">
                    <% end %>
                    <% if @locals[i].vegetarian_food == true %>
                         <img class="icono" src="zanahoria.png">
                    <% end %>
                    <% if @locals[i].vegan_food == true %>
                         <img class="icono" src="vegano.png">
                    <% end %></span>
                        
                    <hr>
                <% end %>
            </span>
        </div>
        <div class="info2">
            <span class="restaurante1">
                <img class="lupa" src="../ic_search_black_48dp.png"> Todos los resultados encontrados...
                    <hr>
                    <% primer_num = 3 %>
                    <% ultim_num = primer_num + 1 %>
                
                    <% for i in (primer_num..ultim_num) do %>
                    <%= image_tag(@locals[i].img_url, class: "enana")%>
                    <%= link_to @locals[i].name, local_path(@locals[i][:id]) %>
                    <% if @locals[i].celiacous_food == true %>
                         <img class="icono" src="celiaco.png">
                    <% end %>
                    <% if @locals[i].vegetarian_food == true %>
                         <img class="icono" src="zanahoria.png">
                    <% end %>
                    <% if @locals[i].vegan_food == true %>
                         <img class="icono" src="vegano.png">
                    <% end %>
                        
                    <hr>
                <% end %>
            </span>
            <span class="restaurante2">
                
                    <hr>
                    <% primer_num = 4 %>
                    <% ultim_num = primer_num + 1 %>
                
                    <% for i in (primer_num..ultim_num) do %>
                    
                    <%= image_tag(@locals[i].img_url, class: "enana")%>
                    <span class="nombre"><%= link_to @locals[i].name, local_path(@locals[i][:id]) %>
                    <% if @locals[i].celiacous_food == true %>
                         <img class="icono" src="celiaco.png">
                    <% end %>
                    <% if @locals[i].vegetarian_food == true %>
                         <img class="icono" src="zanahoria.png">
                    <% end %>
                    <% if @locals[i].vegan_food == true %>
                         <img class="icono" src="vegano.png">
                    <% end %></span>
                        
                    <hr>
                <% end %>
            </span>
        </div>
        <div class="buttonarea"><button class='button1' type="button">Click Me!</button></div>
     </body>













