<body>

<div class="info">
  <span class="new1">

    <p><img class="lupa" src="../ic_loupe_black_48dp.png"> New local information</strong></p>
    <hr>


    <%= form_for [@local] do |f| %>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
     
      <p>
        <%= f.label :type_of_food %><br>
        <%= f.text_area :type_of_food %>
      </p>
      
      <p>
        <%= f.label :location %><br>
        <%= f.text_area :location %>
      </p>

      <p>
        <%= f.label :img_url %><br>
        <%= f.text_area :img_url %>
     
      
      <% end %>

    </span>

    <span class="new1">

    <p><img class="lupa" src="../ic_loupe_black_48dp.png"> Checkbox </strong></p>
    <hr>


    <%= form_for [@local] do |f| %>
      
        <%= f.label :celiacous_food, "Comida Celíaca"  %>
        <%= f.check_box :celiacous_food %><br>
        <%= f.label :vegan_food, "Comida Vegana"  %>
        <%= f.check_box :vegan_food %><br>
        <%= f.label :vegetarian_food, "Comida Vegetariana"  %>
        <%= f.check_box :vegetarian_food %><br>
        <hr>
      <p>
        <%= f.submit %>
      </p>
      
      <% end %>

    </span>
  
</div>

</body>







