<body>
    	
        <div class="info1">

        <p><strong><div class="name"><%= @local.name %></div></strong></p>
        <hr>
        <p><strong>Tipo de comida: </strong> <%= @local.type_of_food %></p>
        <p><strong>Dirección: </strong> 

        <span class="direction"><%= @local.location %></span></p>

        </div>
        <div id="map-canvas"></div>

        <p class"botonatras"><%= link_to 'Borrar', local_path(@local), method: :delete, data: {confirm: '¿Estas seguro?'} %></p>

        <p class="botonatras"><%= link_to 'Atras', root_path %></p>

        
        
        <script type="text/javascript" src=""></script>
</body>

     





		